In [1]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('/Users/amir/Desktop/Projects/Fakenews/Fack-News-Checker/Dataset/evaluation.csv', sep=';')

In [13]:
data.head()

,Unnamed: 0,title,text,label
0,0,"Sanders back in U.S. Senate, blasts 'coloniali...",WASHINGTON (Reuters) - Democratic U.S. preside...,1
1,1,Kremlin: Syria peoples' congress being 'active...,MOSCOW (Reuters) - A proposal to convene a con...,1
2,2,Oregon Cop Convicted Of Shattering Biker’s Co...,"In a baffling fit of rage, an Oregon State Pol...",0
3,3,Twitter Erupts With Glee Over #CruzSexScandal...,The last thing any politician running for the ...,0
4,4,MUST WATCH VIDEO: Obama Tries To Trash Trump B...,This is too good to miss! Mr. Teleprompter did...,0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8117 entries, 0 to 8116
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8117 non-null   int64
 1   title       8117 non-null   object
 2   text        8117 non-null   object
 3   label       8117 non-null   int64
dtypes: int64(2), object(2)
memory usage: 253.8+ KB